:root { 
--black_900:#000000; 
--bluegray_400:#8c8c8c; 
--yellow_901:#f47625; 
--gray_800:#4f4f4f; 
--gray_900:#252525; 
--yellow_900:#f47726; 
--deep_orange_200:#ffb382; 
--white_A700:#ffffff; 
--black_900_2d:#0000002d; 
--lime_100:#f6e6cd; 
}