
 @font-face { font-style : bold; src: url("assets/fonts/QuicksandBold.ttf"); font-family : "Quicksand"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/RussoOneRegular.ttf"); font-family : "Russo One"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/QuicksandRegular.ttf"); font-family : "Quicksand"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/QuicksandSemiBold.ttf"); font-family : "Quicksand"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/QuicksandMedium.ttf"); font-family : "Quicksand"; font-weight : 500;  }
 @font-face { font-style : normal; src: url("assets/fonts/RobotoRegular.ttf"); font-family : "Roboto"; font-weight : 400;  }